<div class="flex flex-col items-center justify-center h-84 py-2">
  <h1 class="text-4xl font-bold mb-4">Welcome to Our Store</h1>
  <p class="text-lg text-center mb-8">Discover the best products at unbeatable prices.</p>
  <%= link_to "Shop Now", root_path, class: "bg-[var(--cor-logo)] text-white py-2 px-4 rounded-md hover:bg-[var(--cor-logo-hover)] hover:py-3 hover:px-5 transition-all duration-200 hover:text-lg" %>
</div>
