<% content_for :title, "New stock" %>

<div class="w-full max-w-4xl mx-auto p-0 sm:px-2 lg:px-8">
  <!-- Header Section -->
  <div class="flex flex-col lg:flex-row lg:items-center lg:justify-between mb-8 space-y-4 lg:space-y-0">
    <h1 class="font-bold text-3xl sm:text-4xl text-(--cor-logo) text-center lg:text-left">Create New Stock Entry</h1>
    
    <%= link_to "Back to stocks", admin_product_stocks_path, class: "w-full lg:w-auto text-center rounded-md px-4 py-2.5 bg-gray-600 hover:bg-gray-700 text-white font-medium transition-colors" %>
  </div>

  <!-- Form Section -->
  <div class="bg-white shadow-lg rounded-lg p-6 lg:p-8">
    <%= render "form", admin_stock: @admin_stock %>
  </div>
</div>
